#
#Sat Apr 21 20:46:35 EET 2018
rabbitmq.queue.name=WALL
app.max_db_connections_count=10
app.classes.path=target/classes/com/linkedin/replica/wall
rabbitmq.username=admin
app.newsfeed.mintimestamp=2
app.controller.host=localhost
rabbitmq.password=123456
rabbitmq.ip=192.168.43.50
app.max_thread_count=20
app.controller.port=8080
