addBookmark.command=AddBookmarkCommand
deleteBookmark.command=DeleteBookmarkCommand
getBookmarks.command=GetBookmarksCommand
addComment.command=AddCommentCommand
deleteComment.command=DeleteCommentCommand
editComment.command=EditCommentCommand
getComments.command=GetCommentsCommand
addLike.command=AddLikeCommand
deleteLike.command=DeleteLikeCommand
getCommentLikes.command=GetCommentLikesCommand
getPostLikes.command=GetPostLikesCommand
getReplyLikes.command=GetReplyLikesCommand
addPost.command=AddPostCommand
deletePost.command=DeletePostCommand
editPost.command=EditPostCommand
getPosts.command=GetPostsCommand
addReply.command=AddReplyCommand
deleteReply.command=DeleteReplyCommand
editReply.command=EditReplyCommand
getReplies.command=GetRepliesCommand
