#
#Fri Mar 23 19:39:03 EET 2018
getPostLikes.command=GetPostLikesCommand
getCommentLikes.command=GetCommentLikesCommand
wall.test.handler=ArangoWallHandler
addReply.command=AddReplyCommand
getReplies.command=GetRepliesCommand
editPost.command=EditPostCommand
getComments.command=GetCommentsCommand
addPost.command=AddPostCommand
deletePost.command=DeletePostCommand
getPosts.command=GetPostsCommand
deleteReply.command=DeleteReplyCommand
addLike.command=AddLikeCommand
editComment.command=EditCommentCommand
editReply.command=EditReplyCommand
addBookmark.command=AddBookmarkCommand
wall.test=TestCommand
deleteBookmark.command=DeleteBookmarkCommand
getBookmarks.command=GetBookmarksCommand
addComment.command=AddCommentCommand
getReplyLikes.command=GetReplyLikesCommand
deleteComment.command=DeleteCommentCommand
deleteLike.command=DeleteLikeCommand
