get.newsfeed.query=FOR user in users \
									    filter user.userId == @userId  \
									    LET friendPosts = ( \
									        for friend in users \
									            filter friend.userId in user.friendsList \
									            for p in posts \
									                FILTER p.authorId == friend.userId and p.isArticle == false \
									                LET likers = ( \
									                    for liker in users \
									                        filter user.userId in p.likers \
									                        return \
									                            { \
									                                "likerId" : liker.userId, \
									                                "likerName" : concat(liker.firstName, " ", liker.lastName), \
									                                "likerProfilePictureUrl" : liker.profilePictureUrl \
									                            } \
									                 ) \
									                SORT p.timestamp DESC \
									                Limit 0, @limit \
									                return \
									                { \
									                    "authorName":  concat(friend.firstName, " ", friend.lastName), \
									                    "authorProfilePictureUrl" : friend.profilePictureUrl, \
									                    "headline" : friend.headline, \
									                    "authorId" : p.authorId, \
									                    "postId" : p.postId, \
									                    "text" : p.text, \
									                    "images" : p.images, \
									                    "videos" : p.videos, \
									                    "commentsCount" : p.commentsCount, \
									                    "timestamp" : p.timestamp, \
									                    "isCompanyPost" : p.isCompanyPost, \
									                    "likers" : likers, \
									                    "liked" : @userId in p.likers \
									                }) \
									    LET companiesPosts = ( \
									        for company in companies \
									            filter company.companyId in user.followedCompanies \
									            FOR p in posts \
									                FILTER p.authorId == company.companyId and p.isArticle == false and p.timestamp >= @minTimestamp \
									                LET likers = ( \
									                    for liker in users \
									                        filter liker.userId in p.likers \
									                        return \
									                            { \
									                                "likerId" : liker.userId, \
									                                "likerName" : concat(liker.firstName, " ", liker.lastName), \
									                                "likerProfilePictureUrl" : liker.profilePictureUrl \
									                            } \
									                 ) \
									                SORT p.weight DESC \
									                Limit 0, @limit \
									                return \
									                { \
									                    "authorName": company.companyName,  \
									                    "authorProfilePictureUrl" : company.profilePictureUrl, \
									                    "headline" : company.industryType, \
									                    "authorId" : p.authorId,  \
									                    "postId" : p.postId, \
									                    "text" : p.text,  \
									                    "images" : p.images, \
									                    "videos" : p.videos, \
									                    "commentsCount" : p.commentsCount, \
									                    "timestamp" : p.timestamp, \
									                    "isCompanyPost" : p.isCompanyPost,  \
									                    "likers" : likers, \
									                    "liked" : @userId in p.likers \
									                } \
									        ) \
									return {"results" : APPEND(friendPosts, companiesPosts)}
									
get.companies.posts.query=FOR post IN posts \
											    FILTER post.authorId == @companyId and post.isArticle == FALSE \
											        LET likers = ( \
											        for liker in users \
											            filter liker.userId in post.likers \
											            return \
											                { \
											                    "likerId" : liker.userId, \
											                    "likerName" : concat(liker.firstName, " ", liker.lastName), \
											                    "likerProfilePictureUrl" : liker.profilePictureUrl \
											                } \
											    ) \
											    FOR company IN companies \
											    FILTER company.companyId == @companyId \
											    SORT post.timestamp DESC \
											    Limit 0, @limit \
											    RETURN \
											        {   "authorName" : company.companyName, \
											            "authorProfilePictureUrl" : company.profilePictureUrl, \
											            "headline" : company.industryType, \
											            "authorId": post.authorId, \
											            "postId" : post.postId, \
											            "text" : post.text, \
											            "images" : post.images, \
											            "videos" : post.videos, \
											            "commentsCount" : post.commentsCount, \
											            "timestamp" : post.timestamp, \
											            "isCompanyPost" : post.isCompanyPost, \
											            "likers" : likers, \
											            "liked" : @companyId in post.likers \
											        } 
